<%= form_for(@bankm) do |f| %>
  <% if @bankm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bankm.errors.count, "error") %> prohibited this bankm from being saved:</h2>

      <ul>
      <% @bankm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :銀行名 %><br>
    <%= f.text_field :bank_j %>
  </div>
    <div class="field">
    <%= f.label :銀行名（略称） %><br>
    <%= f.text_field :bank_a %>
  </div>
    <div class="field">
    <%= f.label :銀行名（カナ） %><br>
    <%= f.text_field :bank_k %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
