<h1>検索結果</h1>
<table>
  <thead>
    <tr>
      <th>登録日時</th>
      <th>登録マシン</th>
      <th>登録ユーザー</th>
      <th>更新日時</th>
      <th>更新マシン</th>
      <th>更新ユーザー</th>
      <th>銀行コード</th>
      <th>銀行名</th>
      <th>銀行名（略称）</th>
      <th>銀行名（カナ）</th>
    </tr>
  </thead>

  <tbody>
    <% @bankms.each do |bankm| %>
      <tr>
        <td><%= bankm.entdate.try(:strftime,'%Y-%m-%d %H:%M:%S') %></td>
        <td><%= bankm.entmcn %></td>
        <td><%= bankm.entclt %></td>
        <td><%= bankm.edtdate.try(:strftime,'%Y-%m-%d %H:%M:%S') %></td>
        <td><%= bankm.edtmcn %></td>
        <td><%= bankm.edtclt %></td>
        <td><%= number_with_precision(bankm.bank_cd, precision: 0) %></td>
        <td><%= bankm.bank_j %></td>
        <td><%= bankm.bank_a %></td>
        <td><%= bankm.bank_k %></td>
        <td><%= link_to '銀行詳細', bankm_path(bankm, bank_params) %></td>
        <td><%= link_to '支店確認', bankm_banksms_path(bankm, bank_params) %></td>
        <td><%= link_to '編集', edit_bankm_path(bankm, bank_params) %></td>
        <td><%= link_to '削除', bankm_path(bankm, bank_params), method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to '選択に戻る', select_path %> |
<%= link_to '検索に戻る', root_path %> |
<%= link_to '銀行新規登録', new_bankm_path(bank_params) %>
