<h1>銀行検索フォーム</h1>

<%= form_tag bankms_path, :method => :get do %>
  <p>
    名前検索
    <%= autocomplete_field_tag :bank_j_search, params[:bank_j_search],
        autocomplete_bankm_bank_j_bankms_path, :autocomplete => "off" %>
  </p>
  <p>
    番号検索
    <%= autocomplete_field_tag :bank_cd_search, params[:bank_cd_search],
        autocomplete_bankm_bank_cd_bankms_path, :autocomplete => "off",
        :size => 5, style: "ime-mode:disabled" %>
  </p>
  <p>
    <%= submit_tag "検索" %>
    <%= submit_tag "全件表示", name: :bank_all %>
  </p>
<% end %>

<%= link_to "選択フォーム", select_path %>
