<h1>銀行検索フォーム</h1>

<%= form_tag bankms_path, :method => :get do %>
  <p>
    名前検索フォーム
    <%= autocomplete_field_tag :bank_j_search, params[:bank_j_search],
        autocomplete_bankm_bank_j_bankms_path, :autocomplete => "off" %>
    <%= submit_tag "検索" %>
  </p>
  <p>
    番号検索フォーム
    <%= autocomplete_field_tag :bank_cd_search, params[:bank_cd_search],
        autocomplete_bankm_bank_cd_bankms_path, :autocomplete => "off",
        :size => 5 %>
    <%= submit_tag "検索" %>
  </p>
<% end %>
<%= link_to '銀行新規登録', new_bankm_path %>
