<p id="notice"><%= notice %></p>

<p>
  <strong>登録日時:</strong>
  <%= @bankm.entdate.try(:strftime,'%Y-%m-%d %H:%M:%S') %>
</p>

<p>
  <strong>登録マシン:</strong>
  <%= @bankm.entmcn %>
</p>

<p>
  <strong>登録ユーザー:</strong>
  <%= @bankm.entclt %>
</p>

<p>
  <strong>更新日時:</strong>
  <%= @bankm.edtdate.try(:strftime,'%Y-%m-%d %H:%M:%S') %>
</p>

<p>
  <strong>更新マシン:</strong>
  <%= @bankm.edtmcn %>
</p>

<p>
  <strong>更新ユーザー:</strong>
  <%= @bankm.edtclt %>
</p>

<p>
  <strong>銀行コード:</strong>
  <%= number_with_precision(@bankm.bank_cd, precision: 0) %>
</p>

<p>
  <strong>銀行名:</strong>
  <%= @bankm.bank_j %>
</p>

<p>
  <strong>銀行名(略称):</strong>
  <%= @bankm.bank_a %>
</p>

<p>
  <strong>銀行名(カナ):</strong>
  <%= @bankm.bank_k %>
</p>

<%= link_to '編集', edit_bankm_path(@bankm, :search => params[:search]) %> |
<%= link_to '検索に戻る', root_path %> |
<%= link_to '検索結果に戻る', bankms_path(:search => params[:search]) %> |
<%= link_to '支店一覧', bankm_banksms_path(@bankm.bank_cd) %>
