<h1>支店一覧</h1>

<table>
  <thead>
    <tr>
      <th>登録日時</th> 
      <th>登録マシン</th> 
      <th>登録ユーザー</th> 
      <th>更新日時</th> 
      <th>更新マシン</th> 
      <th>更新ユーザー</th> 
      <th>銀行コード</th>
      <th>銀行支店コード</th>
      <th>銀行支店枝番</th>
      <th>支店名</th> 
      <th>支店名（略称）</th> 
      <th>支店名（カナ）</th>
    </tr>
  </thead>

  <tbody>
    <% @banksms.each do |banksm| %>
      <tr>
        <td><%= banksm.entdate.try(:strftime,'%Y-%m-%d %H:%M:%S') %></td> 
        <td><%= banksm.entmcn %></td> 
        <td><%= banksm.entclt %></td> 
        <td><%= banksm.edtdate.try(:strftime,'%Y-%m-%d %H:%M:%S') %></td> 
        <td><%= banksm.edtmcn %></td> 
        <td><%= banksm.edtclt %></td> 
        <td><%= number_with_precision(banksm.bank_cd, precision: 0) %></td>
        <td><%= number_with_precision(banksm.banks_cd, precision: 0) %></td>
        <td><%= number_with_precision(banksm.banks_ed, precision: 0) %></td>
        <td><%= banksm.banks_j %></td> 
        <td><%= banksm.banks_a %></td> 
        <td><%= banksm.banks_k %></td>
        <td><%= link_to '詳細', bankm_banksm_path(@bankm, banksm, bank_params) %></td>
        <td><%= link_to '編集', edit_bankm_banksm_path(@bankm, banksm, bank_params) %></td>
        <td><%= link_to '削除', [@bankm, banksm], method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '支店新規登録', new_bankm_banksm_path(bank_params) %> |
<%= link_to '検索結果に戻る', bankms_path(bank_params) %> |
<%= link_to '検索に戻る', bankms_url %>
